
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/Layout/HomeLayout/HomeLayout.cshtml";
}

<div class="error-page mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-wrapper">
                    <div class="error-img">
                        <img class="img-fluid"style="align-items:center" src="~/html-files/assets/images/bg/saddog.png" alt="">
                    </div>
                </div>
                <div class="error-content-area">
                    <h2> Oooooooooooppppllllpppppppssssss !!!</h2>
                    <p> Üzgünüz Birşeyler Ters Gitti. Aradığınız Sayfa Bulunamadı </p>
                    <div class="error-btn">
                        <a class="primary-btn1" href=""><img src="~/html-files/assets/images/icon/home-icon.svg" alt=""> Ana Sayfaya Dön </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
