
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/Layout/HomeLayout/HomeLayout.cshtml";
}

<div class="cart-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-wrapper">
                    <table class="eg-table table cart-table">
                        <thead>
                            <tr>
                                <th>Sıralama</th>
                                <th>Üye Resmi</th>
                                <th>Aktif İlanları</th>
                                <th>Toplam İlanları</th>
                                <th>xxxx</th>
                                <th>xxxx</th>
                                <th>Üyelik Süresi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Number">
                                </td>
                                <td data-label="Image">
                                    <img src="~/html-files/assets/images/bg/cart-01.png" alt="">
                                </td>
                                <td data-label="Food Name"><a href="shop-details.html">Whiskas Cat Food Core Tuna</a></td>
                                <td data-label="Unite Price"><del>$30.00</del></td>
                                <td data-label="Discount Price">$25.00</td>
                                <td data-label="Quantity">
                                    <div class="quantity d-flex align-items-center">
                                        <div class="quantity-nav nice-number d-flex align-items-center">
                                            <input type="number" value="1" min="1">
                                        </div>
                                    </div>
                                </td>
                                <td data-label="Member Time">
                                    <img src="~/html-files/assets/images/bg/Rozet.png" alt="">
                                    <p> x ay </p>
                                </td>
                            </tr>

                            <tr>
                                <td data-label="Number">
                                </td>
                                <td data-label="Image">
                                    <img src="~/html-files/assets/images/bg/cart-01.png" alt="">
                                </td>
                                <td data-label="Food Name"><a href="shop-details.html">Whiskas Cat Food Core Tuna</a></td>
                                <td data-label="Unite Price"><del>$30.00</del></td>
                                <td data-label="Discount Price">$25.00</td>
                                <td data-label="Quantity">
                                    <div class="quantity d-flex align-items-center">
                                        <div class="quantity-nav nice-number d-flex align-items-center">
                                            <input type="number" value="1" min="1">
                                        </div>
                                    </div>
                                </td>
                                <td data-label="Member Time">
                                    <img src="~/html-files/assets/images/bg/Rozet.png" alt="">
                                    <p> x ay </p>
                                </td>
                            </tr>

                           

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

