<footer>
    <div class="container">
        <div class="col-lg-6 d-flex align-items-center order-lg-2 order-1 justify-content-sm-center justify-content-start">
            <div class="footer-items">
                <h2>
                    <span>Benim Köpeğim</span><br>
                    Benim Dostum
                </h2>
                <div class="book-btn">
                    <a class="primary-btn1" href="contact.html">Bana Köpek Öner</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top">
        <div class="col-lg-6">
            <div class="copyright-area">
                <p>© 2023 Hepsi Pati Powered by NEG Yazılım></p>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
            <ul class="footer-btm-menu">
                <li><a href="#">Gizlilik Politası</a></li>
                <li><a href="#">Şartlar & Koşullar</a></li>
            </ul>
        </div>
    </div>
</footer>