<footer>
    <div class="container">
        <div class="row pt-90 pb-90 justify-content-center">
            <div class="col-lg-3 col-sm-6 order-lg-1 order-2 d-flex justify-content-sm-start justify-content-start">
                <div class="footer-items contact ">
                    <h3>Üye Bilgileri</h3>
                    <div class="hotline mb-30">
                        <div class="hotline-icon">
                            <img src="~/html-files/assets/images/icon/phone-icon.svg" alt="">
                        </div>
                        <div class="hotline-info"> 
                            <h6><a href="">Phone Number :</a></h6>
                        </div>
                    </div>
                    <div class="email mb-30">
                        <div class="email-icon">
                            <img src="~/html-files/assets/images/icon/envelope.svg" alt="">
                        </div>
                        <div class="email-info">
                            
                            <h6><a href="mailto:info@support.com">Email Adres :</a></h6>
                        </div>
                    </div>
                    <div class="email">
                        <div class="email-icon">
                            <img src="~/html-files/assets/images/icon/location.svg" alt="">
                        </div>
                        <div class="email-info">
                            
                            <h6><a>Adresi : xxxx</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center order-lg-2 order-1 justify-content-sm-center justify-content-start">
                <div class="footer-items">
                    <h2>
                        want <span>to keep</span><br>
                        your pet in, <span>our center</span>?
                    </h2>
                    <div class="book-btn">
                        <a class="primary-btn1" href="contact.html">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex justify-content-sm-end justify-content-start order-3">
                <div class="footer-items opening-time">
                    <h3> Name Surname</h3>
                    <h6 class="mb-25">Üyelik Tarihi:  gg/aa/yyyy</h6>
                    <br />
                    <h6 class="mb-25">1 Saat Önce Aktifti</h6>
                    
                    

                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest-alt"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row border-top">
            <div class="col-lg-6">
                <div class="copyright-area">
                    <p>© 2023 Hepsi Pati Powered by <a href="https://www.egenslab.com/"> NEG </a></p>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                <ul class="footer-btm-menu">
                    <li><a href="#">Gizlilik Politası</a></li>
                    <li><a href="#">Şartlar & Koşullar</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>