<div class="top-bar">
    <div class="container-lg container-fluid ">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-md-between justify-content-center">
                <div class="social-area">
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.pinterest.com/"><i class='bx bxl-pinterest-alt'></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a></li>

                    </ul>
                </div>
                <div class="opening-time text-center">
                    <p><span>7 / 24</span><br>Patile</p>
                </div>
                <div class="contact-number">
                    <a href="#"> Number <img src="~/html-files/assets/images/icon/support.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>